<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Carousel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="root">

        <div class="container">

            <div id="slider" class="relative">
    
                <div class="col-sx">
                    <div class="col-sx-img-box">          
                        <img :src="itemsArrey[courrentImg]" :alt="titleArrey[courrentImg]">
                    </div>   
                </div>
    
                <div class="col-dx relative">
    
                    <div v-for="(image, i) in itemsArrey" class="object">
                        <img :src="image" :alt="titleArrey[i]">
                    </div>
    
                    <div class="btn up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="btn down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
    
                </div>
    
                <div class="circle-box">
                    <div v-for="(image, i) in itemsArrey" class="circle"></div>
                </div>
    
                <div class="text">
                </div>
    
            </div>
    
        </div>

    </div>
    
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/myVuescript.js"></script>
</body>
</html>